section#social
	nav
		margin: 0 auto
		display: table
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: inline-block
				margin: 0 27px
				text-align: center
				a
					display: inline-block
					// padding: 20px
					width: 60px
					height: 60px
					font-size: 40px
					color: $accent-light
					line-height: 1.5
					border: 1px solid $accent-light
					+border-radius(30px)

				&.facebook
					a:hover
						color: #3b5998
						border-color: #3b5998
				&.twitter
					a:hover
						color: #4099ff
						border-color: #4099ff
				&.linkedin
					a:hover
						color: #4875b4
						border-color: #4875b4
				&.behance
					a:hover
						color: #1383ed
						border-color: #1383ed
				&.instagram
					a:hover
						color: #517fa4
						border-color: #517fa4
				&.google
					a:hover
						color: #c63d2d
						border-color: #c63d2d

			@media screen and (max-width: 480px)
				li
					margin-bottom: 20px
					a
						font-size: 30px
						width: 50px
						height: 50px
						+border-radius(25px)

section#contact
	h2
		text-align: center

	form, p
		margin: 0 auto 80px

	p
		font-family: Helvetica-Light, $baseFontFamily
		font-weight: light
		color: $black
		line-height: 2

	.contact-inner
		display: block
		margin: 0 auto
		width: 470px

		@media screen and (max-width: 480px)
			width: 100%

	.form-group
		margin-top: 26px

	input, button, textarea, p
		display: block
		text-align: center
		width: 100%

	input, button
		height: 50px

		@media screen and (max-width: 480px)
			height: 40px

	input, button, textarea
		font-size: 22px
		line-height: 1.5
		background: none
		border: 1px solid $accent

		@media screen and (max-width: 480px)
			font-size: 18px

	button
		color: #3f3f3f
		+transition(all 0.2s linear)

		&:hover
			background: $black
			border: 0
			color: $bgcolor
