.container
	margin-right: auto
	margin-left: auto
	padding-left: 15px
	padding-right: 15px

	+clearfix
	
	@media screen and (min-width: 768px)
		width: 750px
	@media screen and (min-width: 992px)
		width: 970px
	@media screen and (min-width: 1200px)
		width: 1170px