#header
	// height: 750px

	nav
		float: right
		font-size: 12px

	h1
		margin-bottom: 0
		clear: both
		padding-top: 200px

		@media screen and (max-width: 480px)
			padding-top: 40px

	h3
		margin-top: 20px
		font-weight: normal
		
		a
			color: $red
			text-decoration: none
			&:hover
				text-decoration: underline