.thumb-container
	display: block
	position: relative
	text-align: center
	+clearfix

	img
		margin: 0
		padding: 0
		display: block
		max-width: 100%
		height: auto
		margin: 0 auto

	@media screen and (max-width: 480px)
		overflow-x: hidden
		img
			max-width: none

.project-wrap
	background: #d3d3d3
	max-width: 900px
	margin: 0px auto
	padding: 0px 20px
	display: none
	+clearfix

	p
		text-align: justify

	img
		margin: 0
		padding: 0
		display: block
		max-width: 100%
		height: auto
		margin: 0 auto

	&.active
		display: block

.close
	position: relative
	float: right
	top: 20px
	right: 10px
	font-size: 18px

// .project-full
// 	position: absolute
// 	top: 0
// 	left: 0
// 	width: 100%
// 	height: 100%
// 	background: #000
// 	// opacity: .7
// 	display: none
// 	+clearfix

// 	&.active
// 		display: block

// 	.project-wrap
// 		background: #d3d3d3
// 		max-width: 900px
// 		margin: 0px auto
// 		padding: 0px 20px
// 		p
// 			text-align: justify

// 		img
// 			margin: 0
// 			padding: 0
// 			display: block
// 			max-width: 100%
// 			height: auto
// 			margin: 0 auto