.thumb-container
	display: block
	position: relative
	text-align: center
	+clearfix

	img
		margin: 0
		padding: 0
		display: block
		max-width: 100%
		height: auto
		margin: 0 auto

	@media screen and (max-width: 480px)
		overflow-x: hidden
		img
			max-width: none
