%section#about
	.container
		%h2 My Story

		.text
			%p
				What Rogue Society isn’t.
			%p
				Premeditated. No, perfection wasn’t planned. It happened. Friends together. An unscripted meeting of gin‐minded minds, accidentally stumbling onto the notion of a unique tipple. Some memorable nights, congregating on the Chesterfield, prophetic rantings, laughs, seated, heated discussions.
			%p
				The upshot? A challenge. To craft a great liquid for genuine people. Artisan. Argued. Researched. Shaped. Imagined behind closed doors. 
				A fine gin born of roguish sociability.

%section#image
	.container
		.image-container
			= image_tag "images/about_name.svg"
			= image_tag "images/about_icons.svg", class: 'parallax', :data => {speed: "20"}

%section#skills
	.container
		.skills
			- data.settings.skills.each do |skill|
				.skills-unit{class: "skills-#{skill.value}"}
					%p
						%span
						= skill.name
