%header#header
	.container
		%nav
			%a{href: "#"} Portuguese
			%span /
			%a{href: "#"} English
		
		%h1
			hi I'm victor
			%br
			%span & I'm a front-end developer

		%h3
			I love creating beautiful, simple and
			%br
			effective designs.
			%a{href: "#portfolio"} see my latest work
